.InputBar {
    padding: 2rem;
    font-family: Burner Font Bold;
    font-weight: 600;

    color: #111;
    font-size: 1.6rem;
    outline: none;

    display: flex;
    width: 100%;
    padding: 1.6rem 2.6rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 2.4rem;
    letter-spacing: -0.06rem;
    border: 0.2rem solid #c2c2c2;

    transition: 0.2s ease-in-out;

    &::placeholder {
        font-family: Burner Font Bold;
        font-weight: 600;
    }

    &:hover {
        border: 0.2rem solid #8a8a8a;
    }

    &:focus {
        border: 0.2rem solid #424242;
    }
}
