@use "/src/styles/color";
@use "/src/styles/typography";
@import "/src/styles/color";
@import "/src/styles/typography";

@mixin Smooth {
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1b;
    .FooterContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 180rem;
        gap: 4rem;

        padding: 5rem 5rem;

        .HomeLink {
            cursor: pointer;
        }

        .FooterLabel {
            color: $carbonblack;

            @include Heading();
            color: #e9e9e9;
            span {
                color: $surface-secondary;
            }
        }

        .BottomContainer {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            padding: 3rem 0rem;

            border-bottom: 0.2rem solid #454545;

            .Company {
                display: flex;
                align-items: flex-start;
                gap: 4rem;
                flex-direction: column;
                .FooterLinks {
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    .Link {
                        text-decoration: none;
                        color: #acacac;
                        font-family: HK Grotesk SemiBold;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: 0rem;
                        position: relative;
                        @include Smooth();

                        &:hover {
                            color: #fff;
                            .HighlightParent {
                                .HighlightChild {
                                    height: 0.3rem;
                                    opacity: 1;
                                    background-color: #fff;
                                    transform: translateX(0%);
                                }
                            }
                        }
                        .HighlightParent {
                            margin-top: 0.7rem;
                            position: absolute;
                            height: 0.16rem;
                            overflow: hidden;
                            background-color: #3b3b3b;
                            width: 100%;
                            .HighlightChild {
                                @include Smooth();
                                opacity: 0;
                                transform: translateX(-100%);
                            }
                        }
                    }
                }
            }

            .Socials {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 1rem;
            }
        }

        .Copyright {
            padding: 0.2rem 0rem;
            display: flex;
            flex-direction: row;
            gap: 4rem;
            align-items: flex-start;
            .CopyText {
                color: #acacac;
                font-family: HK Grotesk SemiBold;
                
                text-wrap: nowrap;
                font-size: 1.2rem;
                font-style: normal;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 100%; /* 1.7rem */
            }

            .CopyrightLabel {
                color: #acacac;
                font-family: HK Grotesk SemiBold;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 600;
                letter-spacing: -0.03rem;
                line-height: 120%; /* 1.7rem */
            }
        }
    }
}
