$crystalwhite: #fff;
$slateblack: #8e8d8d;
$carbonblack: #454545;
$crystalblack: #111;
$burnertheme: #1515f0;


$sugar-milk: #fffaf4;
$aquarius-mood-indigo: #5651ed;
$pickled-salmon: #ff6759;



// Main Product Starts Here

$surface-primary: $sugar-milk;
$burner-theme-one: $pickled-salmon; 
$surface-secondary: $aquarius-mood-indigo;